.navbar {
    background: white;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


.nav-links {
    display: flex;
    align-items:center;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight:500;
    margin-right:150px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn1, .btn2 {
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn1 {
    background: rgba(209, 209, 209, 0.42);
    border: 0px solid;

}

.btn2 {
    background: #ffcd6b;
    border: 1px solid #ffcd6b;
    color: white;
}

.btn1 a {
    color: #ffcd6b;
}

.btn2 a {
    color: white;

}

a{
    text-decoration: none;
}

.logo{
    display: flex;

}








.hero {
    background-image: url('G&GG/src/assets/img_acceuil.svg');
    background-size: cover;
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 300px;
}

.wave {
    margin-top: -500px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* devant le fond */
}
.hero-img{
    width: 100%;
    height: 350px;
}




.hero-body {
    margin-left: 100px;
    position: relative;
    overflow: hidden;
}

.img_acceuil{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.logo {
    width: 200px;
    height: 101px;
    position: relative;
    z-index: 10;
}

.hero-text{
    width: 501px;
    height: 101px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #555547;
    position: relative;
    z-index: 10;
}
.hero-button {
    border-radius: 20px;
    background-color: #ffcd6b;
    border: #ffcd6b;
    width: 200px;
    height: 40px;
    position: relative;
    z-index: 10;
}

.hero-button a{
    color:white;
}


.img_acceuil{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}


.feature-body{
    width: 501px;
    height: 101px;
    margin-left: 40px;
}

.feature-body-title{
    font-size:30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 500px;
    margin-top: 300px;

}
.highlight{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color:#FFCD6B

}
.wave2{
    width: 600px;
    height: 430px;
    margin-left: 610px;
    margin-top: -300px;


}
.feature-body-image{
    width: 300px;
    height: 300px;
    margin-left: 800px;
    margin-top: -200px;
    border-radius: 5%;
}
.highlight-body-title{
    text-align: center;
    margin-top: 650px;
    font-size:32px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight:bold;
    color:#FFCD6B;
}

.feature-body-text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;

}
.highlight-body-text{
    width: 900px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:#555547;

}

.highlight-body-image{
    margin:auto;
    display: flex;
    width: 1000px;
    height: 300px;
    margin-top: -200px;
}

.testimonial-body{
    display: flex;
    justify-content: center;
    margin-top: 100px

}
.stars{
    display: flex;
    margin:auto;
    margin-top: 20px;
}
.guillemet{
    margin-left: 80px;
    margin-top: 30px;
}
.testimonial-card1-body{
    width: 370px;
    height: 300px;
    background-color:#F3EEE9;
    margin:5px;
    border-radius: 5%;
    box-shadow: 15px 0 50px rgba(0, 0, 0, 0.2);

}
.team-body-card1-card-title{
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.testimonial-card1-text{
    width: 311px;
    height: 108px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 10px;


}

.testimonial-card2-body{
    width: 370px;
    height: 300px;
    background-color:#F3EEE9;
    margin:5px;
    border-radius: 5%;
    box-shadow: 15px 0 50px rgba(0, 0, 0, 0.2);



}
.team-body-card2-card-title{
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.testimonial-card2-text{
    width: 311px;
    height: 108px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 10px;

}

.testimonial-card3-body{
    width: 370px;
    height: 300px;
    background-color:#F3EEE9;
    margin:5px;
    border-radius: 5%;
    box-shadow: 15px 0 50px rgba(0, 0, 0, 0.2);

}
.team-body-card3-card-title{
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.testimonial-card3-text{
    width: 311px;
    height: 108px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 10px;

}



.team-body{
    margin-top: 150px;
}

.team-body-img{
    display: flex;
    margin: 0 auto;
    margin-top: 300px;
}

.team-body-title{
    text-align: center;
    margin-top: 15px;
;
}

.team-body-text{
    text-align: center;
    margin-top: 15px;
}
.team-body-card{
    display: flex;


}

.team-body-card1{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;
    margin-left: 90px;
}
.team-body-card2{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;
}
.team-body-card3{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;
}
.team-body-card4{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;
}
.team-body-card5{
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    margin-left: 90px;
}
.team-body-card6{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;
}
.team-body-card7{
    width: 250px;
    height: 300px;
    background-color: #F8F8F6;


}
.team-body-card8{
    width: 290px;
    height: 300px;
    background-color: #ffffff;


}
.team-body-img{
    width: 80px;
    height: 100px;
    margin-top: 50px;
    margin-top: 50px;
}

.team-body-card1-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card1-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card2-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card2-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card3-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card3-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card4-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card4-card-text{
    text-align: center;
    margin-top: 20px;
}

.team-body-card5-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card5-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card6-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card6-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card7-card-title{
    text-align: center;
    margin-top: 20px;
    color: #FFCD6B;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 15px;
}
.team-body-card7-card-text{
    text-align: center;
    margin-top: 20px;
}
.team-body-card-group{
    display: flex;
}

.team-body-card{
    display: flex;
    margin:auto;
    margin-top: 30px;
}